<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE html> 
	<html xmlns="http://wwww.w3.org/1999/xhtml">
	<head>
		<title>KMean -{% block title %} HomePage {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	</head>
	<body id = "{% block bodyId %} genericPage {% endblock %}">
		<header>
			{% block headerContent %}{% endblock %}
		</header>
		<section id="content">
			{% block content %}{% endblock %}
		</section>
		</body>
</html>