{% extends "base.html" %}
{% load bootstrap %}

{% block title %} Data {% endblock %}

{% block bodyId %}data{% endblock %}

{% block content %}
	<div class="container">
		<div class="row col-md-offset-1 col-md-10">
			<form id="loadSpinner" action="" role="form" method="post" enctype="multipart/form-data">
		    <legend>Choose arguments : </legend>
				{% csrf_token %}
				{{ form | bootstrap_horizontal }}
			    <div class="form-group">
			      <button type="submit" class="btn btn-primary">Launch K-Mean</button>
			    </div>
			</form>
		</div>
	</div>

<div class="spinner" style="display:none">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

{% block javascript %}
<script type="text/javascript">
	$(loadSpinner).submit(function(){
		$(".container").hide();
		$(".spinner").show();
	});
</script>
{% endblock %}
{% endblock %}
